In [9]:
import pandas as pd
import numpy as np

In [10]:
file = "data/recipeDataset.csv"
df = pd.read_csv(file)

In [11]:
df.head()

,Number,Name,Ingredients,Method,Energy_kcal,Nutritional_Information,Serves
0,1,Asaro potato porridge recipe,1 scotch bonnet pepper 1 medium chopped onion ...,"1. Add the scotch bonnet, onion and red pepper...",329kcal,Per serving (1/4 recipe)\n14g protein\n10g fat...,4.0
1,2,Bajan cou cou with spicy fish,Marinade 60g fresh coriander 35g fresh parsley...,"Add the parsley, celery, spring onion, onion, ...",410kcal,NaN,4.0
2,3,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN